<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="/create">Create Exam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/add">Add Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/status">Exam Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="teaResult.jsp">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>

    {% if not code %}
    <div class="container pt-5 px-10">
        <form action="/checkcode" class="was-validated" method="post">
            <div class="form-group">
              <label for="title">Code:</label>
              <input type="text" class="form-control" id="title" placeholder="Enter Code" name="code" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <button type="Create" class="btn btn-success btn-lg">Create</button>
          </form>
      </div>
      {% else %}

      <div class="container pt-5 px-10">
        <form action="/getqsns/{{code}}" class="was-validated" method="post">
            <h3 class="text-center">{{ title }}</h3><br>
        	{% for i in range(1,nof+1) %}
             <div class="container p-3 my-3 border border-dark">
            <div class="form-group">
              <label for="code">Question {{i}}</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Question" name="q{{i}}" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="code">Option 1</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Option 1" name="{{i}}o1" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="code">Option 2</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Option 2" name="{{i}}o2" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="code">Option 3</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Option 3" name="{{i}}o3" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="code">Option 4</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Option 4" name="{{i}}o4" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="sel1">Correct Option:</label>
              <select name="c{{i}}" class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
       {% endif %}

  </body>
</html>